body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color for readability */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%; /* Percentage-based width */
    margin: 0 auto; /* Center align the content */
    padding: 2%;
}

.exercise-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2%; /* Percentage-based spacing */
}

.workout-item {
    flex-grow: 1;
    min-width: 30%; /* Minimum width in percentage */
}

.workout-item button {
    width: 100%;
    padding: 0.2%;
    border: none;
    background-color: #007bff; /* Primary blue */
    color: white;
    font-size: 100%; /* Relative font size */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.workout-item button:hover {
    background-color: #0056b3;
}

#exerciseForm {
    background-color: #1e1e1e; /* Darker shade for form background */
    padding: 0.2%;
    border-radius: 5px;
    box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

#exerciseForm label {
    font-weight: bold;
    margin-top: 2%;
}

input, select, textarea {
    font-size: 16px;
}
#exerciseForm input[type='number'] {
    width: 100%;
    padding: 1%;
    margin-top: 1%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #282828; /* Input background */
    color: white; /* Input text color */
}

#pumpBuddyButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 2%;
}

.buddy-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 1% 2%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buddy-button:hover {
    background-color: #218838;
}
@media (max-width: 768px) {
    .workout-item {
        flex-basis: 100%; /* Full width on smaller screens */
    }

    .workout-item button {
        padding: 3%; /* Slightly larger padding for better touch targets */
    }
}

