
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Pump Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-800 text-white">

   <main class="p-4">
        <!-- Navigation Buttons -->
        <div class="flex justify-between mb-4">
            <button onclick="window.location.href='/{{ instance_name }}/'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Main
            </button>
            <button onclick="window.location.href='/{{ instance_name }}/view_csv'" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Edit Entries
            </button>
            <button id="clearLocalStorage" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
                Leave Pump Group
            </button>

        <script>
            // JavaScript to clear local storage when the button is clicked
            document.getElementById("clearLocalStorage").addEventListener("click", function() {
                localStorage.clear();
                window.location.href = '/';
            });
        </script>
        </div>
        <form id="addWorkoutTypeForm" action="/{{ instance_name }}/add_workout_type" method="post" class="flex flex-col md:flex-row gap-2">
            <input type="text" name="typeName" placeholder="New Workout Type" class="flex-1 border border-gray-600 rounded px-3 py-2 bg-gray-800 text-gray-300" required>
            <input type="submit" value="Add Type" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>


        <!-- Add New Workout Section -->
        <section id="addWorkout" class="mb-4">
            <h2 class="text-xl font-bold mb-2">Add a New Workout</h2>
            <form id="addWorkoutForm" action="/{{ instance_name }}/add_workout" method="post" class="flex flex-col md:flex-row gap-2">
                <input type="text" id="newWorkoutName" name="workoutName" placeholder="WorkoutType (str)" class="flex-1 border border-gray-600 rounded px-3 py-2 bg-gray-800 text-gray-300" required>
                <input type="number" id="newWorkoutIncrement" placeholder="default increment (number)" name="workoutIncrement" class="bg-gray-800 border border-gray-600 rounded px-3 py-2 w-full" pattern="\d*" step="1" required>
                <select id="newWorkoutType" name="workoutType" class="bg-gray-800 border border-gray-600 rounded px-3 py-2 text-gray-300">

                    <option value="">Select Workout Type</option>
                    {% for workouttype in workouttypes %}
                        <option value="{{workouttype.id}}">{{workouttype.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add Workout" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded cursor-pointer self-start md:self-auto">
            </form>
        </section>

        <!-- Add Pump Buddy Section -->
        <section class="mb-4">
            <h2 class="text-xl font-bold mb-2">Add Pump Buddy</h2>
            <form method="POST" action="/{{ instance_name }}/settings" class="flex flex-col md:flex-row gap-2">
                <input type="text" name="buddyName" placeholder="Buddy Name" class="flex-1 border border-gray-600 rounded px-3 py-2 bg-gray-800 text-gray-300" required>
                <button type="submit" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded self-start md:self-auto">Add Buddy</button>
            </form>
        </section>

        <!-- List Existing Buddies -->
        <div id="buddyList" class="mb-4">
            {% for buddy in buddies %}
                <div class="buddy-item mb-2">
                    {{ buddy.name }}
                    <!-- Add delete functionality if needed -->
                </div>
            {% endfor %}
        </div>

        <!-- Delete Workout Section -->
        <section>
            <h2 class="text-xl font-bold mb-2">Delete Workout</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {% for workout in workouts %}
                    <form action="/{{ instance_name }}/remove_workout" method="post" class="flex flex-col md:flex-row gap-2">
                        <input type="hidden" name="workoutId" value="{{ workout.id }}">
                        <input type="submit" value="Delete {{ workout.name }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer self-start md:self-auto">
                    </form>
                    <form action="/{{ instance_name }}/edit_workout/{{ workout.id }}" method="post" class="flex flex-col md:flex-row gap-2">
                        <input type="number" name="workoutIncrement" value="{{ workout.increment }}" class="bg-gray-800 border border-gray-600 rounded px-3 py-2 w-full" pattern="\d*" step="1" required>
                        <select id="workoutType" name="workoutType" class="bg-gray-800 border border-gray-600 rounded px-3 py-2 text-gray-300">
                            <option value="">Select Workout Type</option>
                            {% for workouttype in workouttypes %}
                                <option value="{{ workouttype.id }}" {% if workouttype.id == workout.workout_type_id %}selected{% endif %}>{{ workouttype.name }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Update" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded cursor-pointer self-start md:self-auto">
                    </form>

                {% endfor %}
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
    var instanceName = "{{ instance_name }}";
</script>

</body>
</html>
