<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>CSV Content</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 text-white">

    <div class="p-4">
        <div class="flex justify-between mb-4">
            <!-- Main Button with Dynamic Instance Name -->
            <button onclick="window.location.href='/{{ instance_name }}/'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Main
            </button>

            <!-- Download CSV Button -->
            <button onclick="window.location.href='/{{ instance_name }}/download_csv'" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Download CSV
            </button>
        </div>

        <table class="w-full text-sm text-left text-gray-500">
            <thead>
                <tr class="bg-gray-700 border-b border-white-600">
                    <th scope="col" class="px-6 py-3">Action</th>
                    <th scope="col" class="px-6 py-3">Buddy</th>
                    <th scope="col" class="px-6 py-3">Exercise</th>
                    <th scope="col" class="px-6 py-3">Weight</th>
                    <th scope="col" class="px-6 py-3">Reps</th>
                    <th scope="col" class="px-6 py-3">Timestamp</th>


                </tr>
            </thead>
            <tbody>
                {% for row in data_list %}
                    <tr class="bg-gray-700 border-b border-gray-600">
                        <td class="px-6 py-4"><a href="/{{ instance_name }}/delete_entry/{{ loop.index0 }}" class="text-blue-400 hover:text-blue-600">Delete</a></td>
                        <td class="px-6 py-4">{{ row[4] }}</td>
                        <td class="px-6 py-4">{{ row[1] }}</td>
                        <td class="px-6 py-4">{{ row[2] }}</td>
                        <td class="px-6 py-4">{{ row[3] }}</td>
                        <td class="px-6 py-4">{{ row[0] }}</td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
    var instanceName = "{{ instance_name }}";
</script>

</body>
</html>
